[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
scikit-learn = "*"
ExifRead = "*"
icecream = "*"

[dev-packages]

[requires]
python_version = "3.8"
